[Unit]
Description=Pulsar Relay
After=network.target

[Service]
User={{ pulsar_relay_user }}
EnvironmentFile=/etc/pulsar-relay.env
ExecStart={{ pulsar_relay_venv }}/bin/uvicorn pulsar_relay.main:app --host 0.0.0.0 --port {{ pulsar_relay_port }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
