PULSAR_JWT_SECRET_KEY={{ pulsar_relay_jwt_secret }}
PULSAR_BOOTSTRAP_ADMIN_USERNAME={{ pulsar_relay_admin_username }}
PULSAR_BOOTSTRAP_ADMIN_PASSWORD={{ pulsar_relay_admin_password }}
PULSAR_BOOTSTRAP_ADMIN_EMAIL={{ pulsar_relay_admin_email }}
PULSAR_STORAGE_BACKEND={{ pulsar_relay_storage_backend }}
PULSAR_VALKEY_HOST={{ pulsar_relay_valkey_host }}
PULSAR_VALKEY_PORT={{ pulsar_relay_valkey_port }}
PULSAR_VALKEY_PASSWORD={{ pulsar_relay_valkey_password }}
PULSAR_ALLOWED_ORIGINS={{ pulsar_relay_allowed_origins }}
PULSAR_TRUSTED_HOSTS={{ pulsar_relay_trusted_hosts }}
PULSAR_LOG_LEVEL={{ pulsar_relay_log_level }}
